<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

<header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.job_titles }}</p>

    <p>
        {{ site.location }} | <a href="{{ site.email }}">ethanfbenton@gmail.com</a>{{ site.email }} | {{ site.mobile_number }} | <a href="{{ site.linkedin_url }}">LinkedIn</a>
    </p>

    <nav>
        <a href="/">Home</a>
        <a href="/resume">Resume</a>
        <a href="/projects">Projects</a>
    </nav>
</header>

<hr>

{{ content }}

</body>
</html>